/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(https://fonts.googleapis.com/css?family=Karla|Libre+Baskerville);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  margin-top: -20px;
}

/* font styling */
h1 {
  font-size: 32px;
  font-size: 3.2rem;
  font-family: "Karla", sans-serif;
  font-weight: bold;
  letter-spacing: 3px;
}

h2 {
  font-size: 22px;
  font-size: 2.2rem;
  font-family: "Karla", sans-serif;
}

h3 {
  font-size: 18px;
  font-size: 1.8rem;
  font-family: "Karla", sans-serif;
}

h4 {
  font-size: 16px;
  font-size: 1.6rem;
  font-family: "Karla", sans-serif;
}

h5 {
  font-size: 14px;
  font-size: 1.4rem;
  font-family: "Karla", sans-serif;
}

h6 {
  font-size: 12px;
  font-size: 1.2rem;
  font-family: "Karla", sans-serif;
}

li {
  font-size: 12px;
  font-size: 1.2rem;
  font-family: "Karla", sans-serif;
}

p {
  font-size: 12px;
  font-size: 1.2rem;
  font-family: "Karla", sans-serif;
}

span.orange {
  color: #ef4836;
}

.wrapper {
  max-width: 1100px;
  width: 90%;
  margin: 0 auto;
}

header {
  background: linear-gradient(0deg, rgba(47, 47, 47, 0.8), rgba(47, 47, 47, 0.8)), url("../images/Parliament_Hill.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  margin-top: 20px;
}

header .wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0;
}

header nav {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

header nav #logo {
  fill: #ef4836;
  width: 75px;
  height: 75px;
  padding: 15px;
  transition: all 0.5s ease;
}

header nav #logo:hover {
  fill: white;
}

header nav #logo:focus {
  fill: white;
}

header nav button {
  font-size: 14px;
  font-size: 1.4rem;
  background: transparent;
  border: 2px solid #ef4836;
  color: white;
  padding: 10px 20px;
  margin: 5px;
  transition: all 0.5s ease;
}

header nav button:hover {
  color: #ef4836;
}

header nav button:focus {
  color: #ef4836;
}

header button[type=submit] {
  border: 2px solid #ef4836;
  background: none;
  color: white;
  padding: 2px 15px;
  transition: all 0.5s ease;
}

header button[type=submit]:hover {
  color: #ef4836;
}

header button[type=submit]:focus {
  color: #ef4836;
}

header svg {
  width: 15%;
}

header .hero-text {
  border: 2px solid #ef4836;
  border-bottom: none;
  position: relative;
  text-align: center;
  margin: 0 auto;
  padding: 20px 50px;
  color: white;
}

header .hero-text:after {
  content: '';
  border-bottom: 2px solid #ef4836;
  width: 12%;
  position: absolute;
  bottom: 0;
  right: 0;
}

header .hero-text:before {
  content: '';
  border-bottom: 2px solid #ef4836;
  width: 12%;
  position: absolute;
  bottom: 0;
  left: 0;
}

header .hero-text h5 {
  position: absolute;
  bottom: -10px;
  font-size: 12px;
  font-size: 1.2rem;
  left: 13%;
  padding: 0 20px;
  color: white;
}

header .formWrapper {
  width: 100%;
  background: rgba(47, 47, 47, 0.7);
  color: white;
  height: 100px;
  margin: 0 auto;
  margin-bottom: -30px;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .formWrapper img {
  width: 60px;
  height: 15px;
  display: block;
  margin: 0 auto;
}

header form {
  font-size: 14px;
  font-size: 1.4rem;
  margin: 0 auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header label {
  margin-right: 15px;
  line-height: 36px;
}

.subHeader {
  padding: 20px 40px;
  border: 1px solid #2f2f2f;
  margin-bottom: 40px;
  display: inline-block;
  position: relative;
  margin-bottom: 50px;
}

.subHeader:after {
  content: "Meet your MP";
  position: absolute;
  top: -10px;
  left: 33%;
  font-size: 12px;
  font-size: 1.2rem;
  background: white;
  padding: 0 15px;
  font-style: italic;
  color: #ef4836;
}

section.mpProfile {
  text-align: center;
  padding: 50px 0;
  display: none;
}

section.mpProfile .mpInfoWrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

section.mpProfile .articleWrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
  width: 50%;
}

section.mpProfile .mpPersonnalInfo {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  line-height: 20px;
  margin: 0 30px 20px 30px;
}

section.mpProfile .mpPersonnalInfo span {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

section.mpProfile .mpPersonnalInfo ul li {
  border-bottom: 1px solid #e1e1e1;
  margin: 0 15px;
  margin-bottom: 15px;
  padding-bottom: 5px;
}

section.mpProfile .twitterFeed {
  width: 50%;
}

section.mpProfile .mpContactInfo {
  width: 80%;
  text-align: left;
}

section.mpProfile .mpContactInfo div {
  width: 100%;
  margin: 0 30px;
}

section.mpProfile .mpContactInfo h5 {
  font-weight: bold;
  margin-bottom: 10px;
}

section.mpProfile .mpContactInfo ul {
  margin-bottom: 20px;
}

section.mpProfile .mpContactInfo li {
  line-height: 25px;
}

section.favoriteWord {
  background: linear-gradient(0deg, rgba(47, 47, 47, 0.8), rgba(47, 47, 47, 0.8)), url("../images/Commons_seats.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  height: 300px;
  display: none;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

section.favoriteWord svg {
  width: 50px;
  margin: 0 auto;
  margin-bottom: 20px;
}

section.favoriteWord .word {
  margin-bottom: 20px;
  color: #ef4836;
  font-weight: bold;
}

section.favoriteWord p {
  font-style: italic;
}

section.votes {
  margin: 50px 0;
  text-align: center;
  display: none;
}

section.votes .subHeader:after {
  left: 37%;
}

section.votes .voteWrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0;
  text-align: left;
}

section.votes article {
  margin-bottom: 40px;
  line-height: 20px;
  border: 2px solid #ef4836;
  border-radius: 12px;
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

section.votes article aside {
  width: 25%;
  text-align: center;
  padding: 20px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.votes article aside span {
  font-weight: bold;
}

section.votes article .description {
  width: 75%;
  padding: 20px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.votes article h4 {
  margin-bottom: 20px;
}

section.votes article h4:last-child {
  margin-bottom: 0px;
}

section.votes article h3 {
  margin-bottom: 20px;
  font-weight: bold;
}

section.votes article p {
  line-height: 26px;
  text-align: left;
}

section.votes article:before {
  background: white;
  content: "";
  position: absolute;
  top: -30px;
  left: 47%;
  border: 2px solid #ef4836;
  border-radius: 50%;
  padding: 30px;
}

section.votes article:after {
  background: url("../SVGs/voting.svg");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: -30px;
  left: 47.3%;
  z-index: 1;
  content: '';
  padding: 30px;
}

section.votes article:last-child {
  margin-bottom: 0px;
}

section.votes button {
  font-size: 14px;
  font-size: 1.4rem;
  background: transparent;
  border: 2px solid #ef4836;
  padding: 10px 20px;
  margin: 5px;
  font-weight: bold;
  transition: all 0.5s ease;
}

section.votes button:hover {
  color: #ef4836;
}

section.votes button:focus {
  color: #ef4836;
}

footer {
  background: #2f2f2f;
  color: white;
  padding: 20px;
}

footer p {
  font-size: 16px;
  font-size: 1.6rem;
  margin-bottom: 40px;
  line-height: 28px;
}

footer a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.5s ease;
}

footer a:hover {
  color: #ef4836;
}

footer a:focus {
  color: #ef4836;
}

footer .bottom-footer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .smWrapper {
  font-size: 16px;
  font-size: 1.6rem;
  display: inline-block;
}

footer .smWrapper a {
  color: #ef4836;
}

footer .smWrapper a:hover {
  color: white;
}

footer .smWrapper a:focus {
  color: white;
}

footer .smWrapper i {
  margin: 0 10px;
}

footer h6 {
  font-style: italic;
  text-align: right;
  display: inline-block;
  color: #ef4836;
}

@media (max-width: 1150px) {
  header form {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header form label {
    margin-bottom: 10px;
  }
  header form .formInput {
    display: inline-block;
  }
  .votes .voteSpan {
    display: block;
    margin-bottom: 5px;
  }
}

@media (max-width: 940px) {
  section.mpProfile .mpInfoWrapper {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section.mpProfile .articleWrapper {
    width: 100%;
  }
  section.mpProfile .mpPersonnalInfo {
    margin-bottom: 30px;
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section.mpProfile .mpContactInfo {
    text-align: center;
    width: 80%;
    margin: 0 auto;
  }
  section.mpProfile .mpContactInfo div {
    margin: 0;
  }
  section.mpProfile .twitterFeed {
    width: 100%;
    margin-top: 0px;
  }
  section.votes article {
    display: block;
  }
  section.votes article aside {
    margin: 0 auto;
    width: 100%;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  section.votes article .description {
    width: 100%;
  }
  section.votes article h4 {
    width: 33.3%;
  }
  section.votes .voteSpan {
    display: inline-block;
  }
}

@media (max-width: 768px) {
  section.votes .voteSpan {
    display: block;
  }
}

@media (max-width: 697px) {
  header .hero-text {
    border-bottom: 2px solid #ef4836;
  }
  header .hero-text h1 {
    font-size: 24px;
    font-size: 2.4rem;
  }
  header .hero-text h5 {
    display: none;
  }
  header .hero-text:after {
    display: none;
  }
  header .hero-text:before {
    display: none;
  }
  header .formWrapper {
    height: 200px;
    text-align: center;
  }
  header .formWrapper label {
    margin-bottom: 20px;
  }
  header .formWrapper input[name=postalCode] {
    width: 100%;
    margin-bottom: 20px;
  }
  section.votes article:before {
    left: 45%;
  }
  section.votes article:after {
    left: 45.3%;
  }
}

@media (max-width: 590px) {
  section.mpProfile .mpContactInfo {
    width: 100%;
  }
  section.votes article aside {
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section.votes article aside h4 {
    width: 100%;
  }
}

@media (max-width: 480px) {
  header .formWrapper {
    width: 100%;
  }
  .subHeader:after {
    left: 29%;
  }
  section.mpProfile .mpPersonnalInfo {
    display: block;
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
  }
  section.mpProfile .mpPersonnalInfo figure {
    margin-bottom: 20px;
  }
  section.votes .subHeader:after {
    left: 29%;
  }
  section.votes article:before {
    left: 42%;
  }
  section.votes article:after {
    left: 42.3%;
  }
  section.votes article p {
    text-align: center;
  }
  section.votes article h3 {
    margin-top: 40px;
    text-align: center;
  }
  footer p {
    text-align: center;
    font-size: 12px;
    font-size: 1.2rem;
  }
  footer .bottom-footer {
    display: block;
    text-align: center;
  }
  footer .smWrapper {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media (max-width: 381px) {
  header .formWrapper {
    height: 250px;
  }
  section.mpProfile .subHeader:after {
    left: 24%;
  }
  section.mpProfile .twitterFeed {
    display: none;
  }
  section.votes .subHeader:after {
    left: 24%;
  }
  section.votes article:before {
    left: 39%;
  }
  section.votes article:after {
    left: 39.3%;
  }
}

@media (max-width: 320px) {
  .subHeader:after {
    left: 22%;
  }
  section.votes .subHeader:after {
    left: 22%;
  }
}

/*# sourceMappingURL=main.css.map */